$black: #141414;
$grey: #2f2f2f;
$darkblue: #064789;
$blue: #2364aa;
$lightblue: #427aa1;

@import "navbar";
@import "gallery";

.app-wrapper {
	background-color: $grey;
	height: 100vh;
	width: 100vw;
	color: white;
}

.footer {
	background-color: $black;
	color: white;
	width: 100vw;
	padding: 20px;
	margin-top: 50px;
}