.logo {
	color: $blue;
	padding-top: 50px;
	&:hover {
		text-decoration: none;
		color: $blue;
	}
}

.navbar {
	padding: 30px;
	background-color: $blue;
	padding: 20px 50px;
	color: $grey;
	justify-content: space-around;
}

.navlink {
	color: white;
	background-color: $blue;
	font-weight: 700;
	padding: 20px;
	margin: 0px;
	-webkit-border-radius: 9px;
	transition: 0.3s;
	&:hover {
		text-decoration: none;
		color: $lightblue;
		background-color: $black;
		transition: 0.4s;
	}
}

.activeNavlink {
	color: $blue;
	background-color: $lightblue;
	padding: 20px 60px;
	-webkit-border-radius: 9px;
	transition: 0.3s;
	align-self: end;
	margin: 0px;
	&:hover {
		text-decoration: none;
		color: $blue;
		background-color: $lightblue;
	}
}
